@import url(./general.css);

.categories__main {
  padding: 4em 2em;
  background-color: var(--color-light);
}

.categories__title {
  margin-bottom: 1em;
}

.categories__list-item > a {
  border: 1px solid var(--main-color);
  display: flex;
  gap: 1em;
  padding: 1em;
  transition: background-color ease-in-out 250ms;
}

.categories__list-item > a:hover {
  background-color: var(--bg-color);
}

.categories__list-item + .categories__list-item {
  margin-top: 1.5em;
}

.container__img {
  max-width: 200px;
}

.container__img > img {
  width: 100%;
}
