@import url(fonts.css);

/* === General === */

:root {
  --main-color: #0c3a66;
  --bg-color: #d1ccdc;
  --color-light: #f6eef1;
  --color-hl: #605c4e;
  --color-dark: #2b2b2b;
  font-size: clamp(0.8rem, 2vmin, 1.5rem);
}

*,
*::before,
*::after {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

body {
  background-color: var(--bg-color);
  color: var(--color-dark);
}

ul {
  list-style: none;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.body-color {
  background-color: var(--color-light);
}

.absolute-limiter {
  margin: 0 auto;
  max-width: 1920px;
}

.container__limiter {
  max-width: 948px;
  margin: 0 auto;
}

.section__title {
  font-size: clamp(1.2rem, 3vmin, 2rem);
  font-weight: 500;
}

.btn-link * {
  cursor: pointer;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

.btn-link *:hover {
  background-color: var(--main-color);
  color: var(--color-light);
}

.btn {
  box-sizing: content-box;
  padding: 0.7em 1.4em;
  border-radius: 5px;
}

.btn__container {
  margin: 1rem 0;
}

/* === Header Specific === */

.mercatura__header {
  background-color: var(--main-color);
  color: var(--color-light);
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem 0;
}

.header-group {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 0.8em;
}

.mercatura__title {
  font-weight: 700;
}

.mercatura__search {
  width: 40%;
}

.mercatura__search * {
  width: 100%;
}

#search_query {
  border: 1px solid var(--color-light);
}

#search_query:focus {
  outline: none;
}

/* === Cart Specific === */

.cart {
  position: fixed;
  right: clamp(-500px, -25vw, -280px);
  top: 0;

  overflow-y: scroll;

  padding: 1.5em;
  height: 100vh;
  width: clamp(280px, 25vw, 500px);
  z-index: 1000;

  background-color: #fff;
  transition: right ease-in 300ms;
}

.cart__item-list {
  position: sticky;
}

.cart-toggle {
  right: 0;
}

.clear-button {
  border: none;
  padding: 0;
}

.cart__title {
  text-align: center;
  margin-block: 0.5em;
  font-weight: 800;
}

.cart img {
  width: 32px;
  height: 32px;
}

.cart__item + .cart__item {
  margin-block: 0.5em;
}

.cart__total--container {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0.8em;
}

.cart__total {
  font-weight: 500;
  font-size: 1.4em;
}

.cart__price {
  font-weight: 700;
  font-size: 1em;
}

.cart__action-group {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.cart__action {
  padding: 0.8em 1.5em;
}

/* === Footer Specific === */

.mercatura__footer {
  padding: 2em;
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--color-light);
}

.container__footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
