@import url(./general.css);

.query__main {
  background-color: var(--color-light);
  padding: 1em;
}

.query__selected-category {
  border: 1px solid var(--main-color);
  display: flex;
  gap: 1em;
  padding: 1em;
  margin-block: 2em;
}

.container__img {
  max-width: 200px;
}

.container__img > img {
  width: 100%;
}

.product__name {
  font-size: 1.2rem;
}

@media screen and (max-width: 480px) {
  .query__selected-category {
    flex-direction: column;
    text-align: center;
  }

  .container__img {
    margin: 0 auto;
  }
}
