@import url(general.css);

/* Banner */

.carousel {
  margin: 1rem 0;
  text-align: center;
}

.carousel img {
  height: 400px;
  width: 1440px;
  display: none;
}

#carousel-show {
  display: inline;
}

.fade {
  animation: fadeIn 1500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Custom Content */

.custom-content {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.custom-content section {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.custom-content h1 {
  font-size: 2rem;
}

.custom-content .btn__container {
  margin-top: auto;
}
